/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__additional-info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
    
  .header { 
    text-align: center;
  }

}

.section {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.list {
  margin: 0;
  padding: 0px;
}

.list__list-item {
  display: flex;
}

.list__list-item_for-included-tasks {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

li, 
h3 {
  list-style: none;
}

input, 
button{
  outline: none;
}

.list__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  vertical-align: middle;
}

.list__button_add-button:hover {
  color: #3a3a3a;
}

.list__button_edit-button:hover {
  color: #3a3a3a;
}

/* Heading */
.section__section-title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  text-transform: uppercase;
}

.section__section-title_basic {
  margin: 0;
}

.list__text-input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  vertical-align: middle;
}

.list__text-input:focus {
  color: #333;
}

/* New Task */
.section__section-title_bottom-margin {
  display: block;
  margin: 0 0 20px;
  
}

.list__text-input_width_318px {
  width: 318px;
  display: inline-block;
  flex-grow: 1;
}

/* Task list */
.list__checkbox-input {
  margin: 0 10px;
  vertical-align: middle;
}

.list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  vertical-align: middle;
}
.list__label_display_inline-block {
  display: inline-block;
  flex-grow: 1;
}

.list__text-input_for-included-tasks {
  width: 226px;
  display: none;
}

.delete-icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-icon:hover {
  transform: rotateZ(0);
}

/* Completed */
.list__label_for-completed-tasks {
  text-decoration: line-through;
  color: #888;
  display: inline-block;
  flex-grow: 1;
}

/* Edit Task */
.list__text-input_for-edited-tasks {
  display: inline-block;
  width: 224px;
  flex-grow: 1;
}

.list__label_for-edited-tasks {
  display: none;
}